In [1]:
import numpy as np
import pandas as pd

C:\Users\greg_\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
# The statistical module used to run chi square test
import scipy.stats as stats

In [12]:
# Observed data in a (hypothetical) survey of 6000 people 
observed = pd.Series([1500, 1350, 1600, 1550], index=["1", "2", "3", "4"])
observed

1    1500
2    1350
3    1600
4    1550
dtype: int64

In [13]:
# Create a data frame
df = pd.DataFrame([observed]).T
df

      0
1  1500
2  1350
3  1600
4  1550

In [15]:
# I ADDED THIS CELL

# Why do the .T?
df2 = pd.DataFrame([observed])
df2

      1     2     3     4
0  1500  1350  1600  1550

In [6]:
# Add a column whose default values are the expected values
df[1] = 1500
df

      0     1
1  1500  1500
2  1350  1500
3  1600  1500
4  1550  1500

In [7]:
# Rename the data frame columns
df.columns = ["observed", "expected"]

In [8]:
# View the data frame
df

   observed  expected
1      1500      1500
2      1350      1500
3      1600      1500
4      1550      1500

In [14]:
# I ADDED THIS CELL

# Calculate the degree of freedom, d_f, instead of hard-coding it
d_f = (len(df) - 1)
d_f
# then use d_f for the df= parm; for example, critical_value = stats.chi2.ppf(q = 0.95, df = d_f)

3

In [9]:
# Calculate the critical value
critical_value = stats.chi2.ppf(q = 0.95, df = 3)

In [10]:
# Print the critical value
critical_value

7.814727903251179

In [11]:
# Run the chi square test with stats.chisquare()
stats.chisquare(df['observed'], df['expected'])

Power_divergenceResult(statistic=23.333333333333336, pvalue=3.4411276663397364e-05)